{% load static %}
{% load calculate_vat %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'payments/styles/invoice.css' %}">
</head>
<body>

<header>
    <nav class="logo">
        <img src="{% static 'payments/images/logo.png' %}" alt="company logo">
    </nav>
    <nav class="invoice-details">
        <p>Numer faktury: {{ topup.id }}</p>
        <p>Data wystawienia: {{ product_data.release_date }}</p>
        <p>Data transakcji: {{ topup.date_created|date:"d/m/Y" }}</p>
    </nav>
</header>

<section>
    <nav class="ds-flex">
        <nav class="supplier">
            <p class="p-bold">Sprzedawca:</p>
            <p class="p-bold">{{ company.name }}</p>
            <p>ul. {{ company.street }} {{ company.no }}</p>
            <p>{{ company.post_code }} {{ company.town }}</p>
            <p>{{ company.email }}</p>
            <p class="p-bold">NIP: {{ company.NIP }}</p>

        </nav>
        <nav class="customer">
            <p class="p-bold">Nabywca:</p>
            <p class="p-bold">Leszek Grechowicz</p>
            <p>ul. Polska 12a/19</p>
            <p>67-800 Poznań</p>
            <p>{{ topup.user.first_name }} {{ topup.user.last_name }}</p>
            <p>{{ topup.user.email }}</p>
            {% if product_data.type_vat %}
                <p class="p-bold">NIP: customer NIP </p>
            {% endif %}

        </nav>
    </nav>
    <div class="main">
        {% if product_data.type_vat %}
            <h2></h2>

            <table class="vat_table">
                <caption>Faktura VAT</caption>
                <thead>
                <tr>
                    <th>L.p.</th>

                    <th class="th_long">Nazwa towaru lub usługi</th>
                    <th>Jm.</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>Wartość netto</th>
                    <th>Stawka VAT</th>
                    <th>Kwota VAT</th>
                    <th>Wartość brutto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {#Invoice number#}
                    <td class="border-on">1</td>
                    {#Product name#}
                    <td class="border-on">{{ product_data.product_name }}</td>
                    {#Type of service#}
                    <td class="border-on">usł.</td>
                    {#  Number of items#}
                    <td class="border-on">1</td>
                    {# Nett price#}
                    <td class="border-on">{% return_nett topup.amount_full_units product_data.product_vat %} zł</td>
                    {# Overal nett proce#}
                    <td class="border-on">{% return_nett topup.amount_full_units product_data.product_vat %} zł</td>
                    {# Product  VAT#}
                    <td class="border-on">{{ product_data.product_vat }}%</td>
                    {# VAT Value#}
                    <td class="border-on">{% return_vat_amount topup.amount_full_units product_data.product_vat %} zł
                    </td>
                    {# Gross price#}
                    <td class="border-on">{{ topup.amount_full_units }} zł</td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="p-bold">&nbsp;Razem</td>
                    <td class="border-on">{% return_nett topup.amount_full_units product_data.product_vat %} zł</td>
                    <td class="border-on">&nbsp;</td>
                    <td class="border-on">{% return_vat_amount topup.amount_full_units product_data.product_vat %} zł
                    </td>
                    <td class="border-on p-bold">{{ topup.amount_full_units }} zł</td>
                </tr>
                <tbody>
            </table>


        {% else %}
            <div class="section_div"><span>Produkt:</span><span>Kwota:</span></div>
            <div class="ds-flex"><p>{{ product_data.product_name }}</p>
                <p>{{ topup.amount_full_units }} zł</p></div>
        {% endif %}
        <div class="payment-status">
            <p class="p-bold">Sposób płatności: {{ topup.payment_method|upper }}
                {% if topup.card_brand %}
                    <span> {{ topup.card_brand|upper }}-{{ topup.card_last_four_digits }}</span>
                {% endif %}
            </p>

            <p class="p-bold">Termin płatności: {{ topup.date_created|date:"d/m/Y" }}</p>
            <p class="p-bold">Status płatności: zapłacono</p>
        </div>
    </div>

    <div class="signature">
        <p>Serdecznie dziękujemy,</p>
        <p>pozdrawiamy i życzymy smacznego !</p>
        <p>Team - {{ company.name }}.</p>
    </div>

</section>


</body>
</html>
