{% extends 'shop/base.html' %}
{% block content %}    
    <div class="content-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Payment history</legend>
            </fieldset>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Payment date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Identification number</th>
            </tr>
            </thead>
                {% for payment in object_list %}
                     <tr>
                         <td><p>{{ payment.date_updated }}</p></td>
                         <td><p>{{ payment.amount_full_units }} {{ payment.currency }}</p></td>
                         {% if payment.payment_intent_status == "succeeded" %}
                            <td><p class="badge badge-pill badge-success"><i class="bi bi-check-circle-fill"></i> succeeded</p></td>
                         {% else %}
                            <td><p class="badge badge-pill badge-danger"><i class="bi bi-x-circle-fill"></i> unsuccessful</p></td>

                         {% endif %}
                         <td><p>{{ payment.pk }}</p></td>
                     </tr>
                {% endfor %}

        </table>
        <i class="fa fa-window-close"></i>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <br>
        <a href="/profile">
        <button class="btn btn-primary">Back to profile</button>
        </a>
    </div>
{% endblock content %}  