{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="content-section">
        {% if form.initial %}
            <p id="form-initial">
                {{ form.initial.name }} {{ form.initial.surname }}, <br> 
                {{ form.initial.street_and_number }} {{ form.initial.postal_code }} {{ form.initial.city }}, <br>
                {{ form.initial.country}}
            </p>
        {% endif %}
        <form class="form-group" action="{% url 'payments:create_checkout_session' %}" method="POST">
            {% csrf_token %}
            {% crispy form %}

        </form>
    </div>

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'payments/styles/topup.css' %}">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'payments/scripts/topUpForm.js' %}"></script>
{% endblock %}

{% endblock content %}
