{% extends 'shop/base.html' %}
{% block content %}

    <div class="container-fluid">
        <h1> HOW IT WORKS<span class="badge badge-secondary">?</span></h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Register</h5>
                    <small>Step 1</small>
                </div>
                <p class="mb-1">To start the adventure of ordering lunch through our website, you must first register. Thanks to the established account, it will be possible to place orders for a specific user name. Please pay attention to the name you are registering. It will be placed on your lunch. Also remember to enter your linetech email address. Notifications about a possible forgotten password will be sent to your e-mail address.</p>
                <small>After the registration is complete, you can move on to the next step.</small>
            </a>
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Log in</h5>
                    <small class="text-muted">Step 2</small>
                </div>
                <p class="mb-1">After login with the username and password set by you, a page with information about your account balance appears. After login, you can access the shopping cart and add dishes to it.</p>
                <small class="text-muted">Upss... You have 0 zł on your account?</small>
            </a>
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Subscribe</h5>
                    <small class="text-muted">Step 3</small>
                </div>
                <p class="mb-1">Because the website is in the test phase and we want to find out you will like it or not, you can only recharge your account at the moment in the Engineering deparment. You bring the amount of money you want to deposit and specify the user name. </p>
                <small class="text-muted">Well don! You have already created account with a money on it!</small>
            </a>
        </div>
    </div> 
    
{% endblock content %}
