{% extends 'shop/base.html' %}
{% block content %}

<nav class="nav nav-pills flex-column flex-sm-row">
    {% if type == 'all' %}
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'special' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'main' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'soup' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'fastfood' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'pizza' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
    {% if type == 'dumplig' %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'all' %}">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'special'%}">Specials</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'main'%}">Mains</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'soup'%}">Soups</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'fastfood'%}">Fast food</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'shop-select' 'pizza'%}">Pizza</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'shop-select' 'dumplig'%}">Dumplings</a>
    {% endif %}
  
</nav>
<br>

{% for menu in dish %}   
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'shop-open-dish' menu.id %}">{{ menu.name }}</a><br>
                <small class="text-muted">{{ menu.ingredient }}</small><br>
                <small class="article-content" style='color:#0074d9'>Price: {{ menu.price }}zł</small>
            </div> 
            {% if user.is_authenticated %}
                {% if open %}
                    <div class="input-group mb-2">                        
                        <div class="container-fluid">
                            <form action="{% url 'shop-add-cart' menu.id %}">
                                {% if menu.dish_addon %}
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                        <select class="custom-select" name="addon_select">
                                            {% for add in addon %}
                                                <option value="{{ add.id }}">{{ add.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>                                    
                                {% endif %}
                                <input type="submit" value="Add to cart" class="btn btn-primary">
                        </form>
                       </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </article>
{% endfor %}

{% endblock content %}

