{% extends 'shop/base.html' %}
{% block content %}    
    <div class="content-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Payment history</legend>
            </fieldset>
        <table class="table">
            <thead>
            <tr>
                <th>Payment date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Identification number</th>
            </tr>
            </thead>
                {% for payment_history in user_payments %}
                     <tr>
                         <td><p>{{ payment_history.date_updated }}</p></td>
                         <td><p>{{ payment_history.amount }} {{ payment_history.currency }}</p></td>
                         <td><p>{{ payment_history.charge_status }}</p></td>
                         <td><p>{{ payment_history.payment_intent_id }}</p></td>
                     </tr>
                {% endfor %}

        </table>
        <a href="/profile">
        <button>Back to profile</button>
        </a>
    </div>
{% endblock content %}  