{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'payments/css/form_radio.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'payments/scripts/topUpForm.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="content-section">
        <form class="form-group" action="{% url 'payments:create_checkout_session' %}" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock content %}
